############################################################
# all ignore
############################################################
# 最初にすべての階層のファイルを無視
/*
/.**

############################################################
# not ignore
############################################################
# .gitignoreは上から解釈されていくので
# 管理対象のファイルをホワイトリストのように追記
!/etc
!Makefile
!/bin
!/config
!/.gitignore_global

!.gitignore
